= bootstrap_form_for(@leader, layout: :horizontal) do |f|
  = f.text_field :name, autocomplete: :off
  = f.email_field :email, autocomplete: :off
  #date-container
    = f.date_picker :dbs
  - if @meet_types.count > 0
    = f.form_group :meet_type, label: {text: 'Meet Types:'} do
      - @meet_types.each do |mt|
        = f.form_group :meet_type do
          = check_box_tag 'meet_type_id[]', mt.id, @leader.meet_types.include?(mt)
          = mt.name
  = f.form_group do
    = f.primary
:javascript
  $('#date-container .input-group.date').datepicker({
    format: "dd/M/yyyy",
    orientation: "top auto",
    autoclose: true,
    todayHighlight: true
  });
%para
= errors_for @leader
