= bootstrap_form_for(@leader, layout: :horizontal) do |f|
  = f.text_field :name
  = f.email_field :email
  = f.submit
%para
- if @leader.errors.any?
  #error_explanation
    %h2
      = pluralize(@leader.errors.count, "error")
      prevented the creation of this Leader:
    - @leader.errors.full_messages.each do |msg|
      %li= msg
