%h1 All Leaders
%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Email
      %th DBS
      %th Meet Types
      %th Edit
  %tbody
    - @leaders.each do |leader|
      %tr
        %td= leader.name
        %td= leader.email
        %td= leader.dbs.try :to_s, :short_ordinal
        %td= leader.meet_types.map{ |mt| mt.name}.join(', ')
        %td= link_to 'Edit', edit_leader_path(leader)
%ul.nav.nav-pills
  %li= link_to 'New Leader', new_leader_path
  %li= link_to 'Job Types', jobs_path
