%h1 Editing Meet Type
= bootstrap_form_for(@meet_type, layout: :horizontal) do |f|
  = f.text_field :name, autocomplete: :off
  %h2 Count of Jobs
  = f.fields_for :meet_type_jobs do |jf|
    = jf.hidden_field :job_id
    = jf.number_field :count, label: jf.object.job.name, step: 1, in: 0..5
  = f.form_group do
    = f.primary
%para
= errors_for @meet_type
