= bootstrap_form_for(@child, layout: :horizontal) do |f|
  = f.text_field :name
  = f.select(:gender, ['Boy', 'Girl'])
  = f.date_select :date_of_birth, {:order => [:day, :month, :year], :end_year => Time.now.year}, :class => 'date-select'
  = f.text_area :address
  = f.text_field :postcode
  = f.text_area :medical_conditions
  = f.text_area :special_needs
  = f.date_select :registered_date, {:order => [:day, :month, :year], :end_year => Time.now.year}, :class => 'date-select'
  = f.submit
%para
- if @child.errors.any?
  #error_explanation
    %h2
      = pluralize(@child.errors.count, "error")
      prevented the creation of this child:
    - @child.errors.full_messages.each do |msg|
      %li= msg
