= bootstrap_form_for(@child, layout: :horizontal) do |f|
  = f.text_field :name, autocomplete: :off
  = f.select(:gender, ['', 'Boy', 'Girl'])
  #date-container
    = f.date_picker :date_of_birth
  /
    = f.text_area :address
    = f.text_field :postcode, autocomplete: :off
  = f.text_area :emergency_contact
  = f.text_area :medical_conditions
  = f.text_area :special_needs
  #date-container
    = f.date_picker :registered_date
  = f.form_group do
    = f.primary
:javascript
  $('#date-container .input-group.date').datepicker({
    format: "dd/M/yyyy",
    orientation: "auto bottom",
    autoclose: true,
    todayHighlight: true
  });
%para
= errors_for @child
