%ul.pagination
  %li{:class => ('active' if (params[:historic].blank?))}= link_to "Recent Children", action: "index"
  %li{:class => ('active' if params[:historic] == 'true')}= link_to "All Children", action: "index", historic: "true"
%p
%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Name:
      %th Gender:
      %th Medical Conditions
      %th Special Needs
      %th Emergency Contact
      %th Details
      %th Edit
  %tbody
    - @children.each do |child|
      %tr
        %td= child.name
        %td= child.gender
        - if child.medical_conditions.blank? || child.medical_conditions == "none"
          %td
        - else
          %td
            = link_to content_tag(:i, nil, class: 'glyphicon glyphicon-plus'), child_path(child)
        - if child.special_needs.blank? || child.special_needs == "none"
          %td
        - else
          %td
            = link_to content_tag(:i, nil, class: 'glyphicon glyphicon-plus'), child_path(child)
        - if child.emergency_contact.blank?
          %td
        - else
          %td
            = link_to content_tag(:i, nil, class: 'glyphicon glyphicon-plus'), child_path(child)
        %td= link_to 'Details', child_path(child)
        %td= link_to 'Edit', edit_child_path(child)
%ul.nav.nav-pills
  %li= link_to "New Child", new_child_path
