= bootstrap_form_for(@carer, layout: :horizontal) do |f|
  = f.text_field :name
  = f.telephone_field :phone
  = f.form_group :can_contact, label: { text: 'Can we contact you' } do
    = f.check_box(:can_contact, hide_label: true)
  = f.email_field :email
  = f.form_group do
    = f.primary
%para
= errors_for @carer
