= bootstrap_form_for(@carer, layout: :horizontal) do |f|
  = f.text_field :name
  = f.telephone_field :phone
  = f.text_area :address
  = f.text_field :postcode
  = f.form_group :can_contact, label: { text: 'Can we contact you' } do
    = f.check_box(:can_contact, hide_label: true)
  = f.email_field :email
  = f.collection_select :how_heard_id, @how_heards, :id, :location_name, {label: "How did you heard about us", include_blank: true }
  = f.text_field :other_heard
  = f.form_group do
    = f.primary
%para
= errors_for @carer
