%ul.pagination
  %li{:class => ('active' if (params[:historic].blank?))}= link_to "Recent Carers", action: "index"
  %li{:class => ('active' if params[:historic] == 'true')}= link_to "All Carers", action: "index", historic: "true"
%p
%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Name:
      %th What
      %th Permission
      %th Phone:
      %th Email
      %th Details
      %th Edit
  %tbody
    - @carers.each do |carer|
      %tr
        %td= carer.name
        %td= carer.what_contact.try(:contact_type)
        %td= carer.how_contacts.map(&:contact_type).join(', ')
        %td= carer.phone
        %td= carer.email
        %td= link_to 'Details', carer_path(carer)
        %td= link_to 'Edit', edit_carer_path(carer)
%ul.nav.nav-pills
  %li= link_to 'New Carer', new_carer_path
  %li= link_to 'How Contact', how_contacts_path
  %li= link_to 'What Contact', what_contacts_path
