%h1 Carer Details
%table.table.table-condensed.table-striped.table-hover
  %tr
    %th Name:
    %td= @carer.name
  %tr
    %th Address:
    %td= @carer.address
  %tr
    %th Postcode:
    %td= @carer.postcode
  %tr
    %th Phone:
    %td= @carer.phone
  %tr
    %th Email
    %td= @carer.email
  %tr
    %th What can we send
    %td= @carer.what_contact.try(:contact_type)
  %tr
    %th Permission to Contact
    %td= @carer.how_contact.try(:contact_type)
  /
    %tr
      %th How did you hear about us?
      %td= @carer.how_heard.try(:location_name)
    %tr
      %th Other
      %td= @carer.other_heard
%h1 Child Details
%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Relationship
  %tbody
    - @carer.carer_to_children.includes(:child).each do |carer2child|
      %tr
        %td= carer2child.child.name
        %td= carer2child.relationship
    %tr
      %td{:align => 'center', :colspan => 2}= link_to 'Add a Child', add_child_carer_path
%ul.nav.nav-pills
  %li= link_to 'View All Carers', carers_path
