= bootstrap_form_for(@meet, layout: :horizontal) do |f|
  #date-container
    = f.date_picker :meet_date
  = f.form_group do
    = f.primary
:javascript
  $('#date-container .input-group.date').datepicker({
    format: "dd/M/yyyy",
    orientation: "top auto",
    autoclose: true,
    todayHighlight: true
  });
%para
- if @meet.errors.any?
  #error_explanation
    %h2
      = pluralize(@meet.errors.count, "error")
      prevented the creation of this meet:
    - @meet.errors.full_messages.each do |msg|
      %li= msg
