= bootstrap_form_for(@meet, layout: :horizontal) do |f|
  #date-container
    = f.text_field :meet_date, {input_group_class: 'date', append: content_tag(:i, nil, class: 'glyphicon glyphicon-th')}
    = f.form_group :meet_date, label: {text: 'Meet date'} do
      .input-group.date
        = text_field_tag('meet[meet_date]', nil, class: 'form-control')
        %span.input-group-addon
          %i.glyphicon.glyphicon-th
  = f.form_group do
    = f.primary
:javascript
  $('#date-container .input-group.date').datepicker({
    format: "dd/M/yyyy",
    orientation: "top auto",
    autoclose: true,
    todayHighlight: true
  });
%para
- if @meet.errors.any?
  #error_explanation
    %h2
      = pluralize(@meet.errors.count, "error")
      prevented the creation of this meet:
    - @meet.errors.full_messages.each do |msg|
      %li= msg
