= bootstrap_form_for(@meet, layout: :horizontal) do |f|
  #date-container
    = f.date_picker :meet_date
  = f.collection_select :meet_type_id, MeetType.all, :id, :name
  = f.form_group do
    = f.primary
:javascript
  $('#date-container .input-group.date').datepicker({
    format: "dd/M/yyyy",
    orientation: "top auto",
    autoclose: true,
    todayHighlight: true
  });
%para
= errors_for @meet
