%ul.pagination
  %li{:class => ('active' if (params[:historic].blank?))}= link_to "Future Meets", action: "index"
  %li{:class => ('active' if params[:historic] == 'true')}= link_to "Historic Meets", action: "index", historic: "true"
  %li.disabled= link_to "All Meets"
%p
%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Date:
      %th Type:
      %th Details
  %tbody
    - @meets.includes(:meet_type).each do |meet|
      %tr
        %td= meet.meet_date.to_s(:long_ordinal)
        %td= meet.meet_type.try(:name)
        %td= link_to 'Details', meet_path(meet)
        %td= link_to 'Register', register_meet_path(meet)
%ul.nav.nav-pills
  %li= link_to "New Meet", new_meet_path
  %li= link_to "Meet Types", meet_types_path
  %li= link_to "Emails", send_emails_path
  %li= link_to "Texts", send_texts_path
