%h1 Meet Details
%table.table.table-condensed.table-striped.table-hover
  %tr
    %th Date of meet
    %td= @meet.meet_date.to_s(:long_ordinal)
  - if @meet.meet_type.present?
    %tr
      %th Meet Type
      %td= @meet.meet_type.name

%h1
  Registered children
  .label.label-info= @children.count
  -# if (Date.today == @meet.meet_date)
  - if (@meet.meet_date >= Date.today-6 && @meet.meet_date <= Date.today)
    .btn.btn-default= link_to 'Register a Child', new_meet_register_child_path(@meet)
%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Gender
      %th Medical Conditions
      %th Special Needs
      %th Emergency Contact
  %tbody
    - @children.includes(:carers).each do |child|
      %tr
        %td= child.name
        %td= child.gender
        - if child.medical_conditions.blank?
          %td
        - else
          %td
            = link_to content_tag(:i, nil, class: 'glyphicon glyphicon-plus'), child_path(child)
        - if child.special_needs.blank?
          %td
        - else
          %td
            = link_to content_tag(:i, nil, class: 'glyphicon glyphicon-plus'), child_path(child)
        - if child.emergency_contact.blank?
          %td
        - else
          %td
            = link_to content_tag(:i, nil, class: 'glyphicon glyphicon-plus'), child_path(child)
%h1
  Registered Carers
  .label.label-info= @carers.count
  -# if (Date.today == @meet.meet_date)
  - if (@meet.meet_date >= Date.today-6 && @meet.meet_date <= Date.today)
    .btn.btn-default= link_to 'Register a Carer', new_meet_register_carer_path(@meet)
%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Contact Details
  %tbody
    - @carers.each do |carer|
      %tr
        %td= carer.name
        %td= carer.phone
%h1
  Registered Leaders
  .label.label-info= @leaders.count
  -# if (Date.today == @meet.meet_date)
  - if (@meet.meet_date >= Date.today-6 && @meet.meet_date <= Date.today)
    .btn.btn-default= link_to 'Register a Leader', new_meet_register_leader_path(@meet)
%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Email
  %tbody
    - @leaders.each do |leader|
      %tr
        %td= leader.name
        %td= leader.email
%ul.nav.nav-pills
  %li= link_to 'View All Meets', meets_path
