%h1 Meet Details
%table.table.table-condensed.table-striped.table-hover
  %tr
    %th Date of meet
    %td= @meet.meet_date.try :to_s, :long_ordinal
  - if @meet.meet_type.present?
    %tr
      %th Meet Type
      %td= @meet.meet_type.name

%h1 Leader Details
%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Job
  %tbody
    - @myleaders.each do |ml|
      %tr
        %td= ml.leader.name
        %td= @meet.leader_to_meets.filter_leader(ml.leader).map{ |l2m| l2m.job.name}.join(', ')
    %tr
      %td{:align => 'center', :colspan => 3}= link_to 'Set Leaders', edit_meet_path(@meet)
%ul.nav.nav-pills
  %li= link_to 'View All Meets', meets_path
