%h1 Child to Carer Relationship
%table.table.table-condensed.table-striped.table-hover
  %tr
    %th Carer
    %td= @carer_to_child.carer.name
  %tr
    %th Child
    %td= @carer_to_child.child.name

= bootstrap_form_for(@carer_to_child, layout: :horizontal) do |f|
  = hidden_field_tag "from", params[:from]
  = f.hidden_field :carer_id
  = f.hidden_field :child_id
  = f.text_field :relationship, autocomplete: :off
  = f.form_group do
    = f.primary
%para
= errors_for @carer_to_child
