%ul.nav.nav-tabs
  %li{:class => ('active' if params[:controller] == 'meets')}= link_to "Meets", meets_path
  %li{:class => ('active' if params[:controller] == 'children')}= link_to "Children", children_path
  %li{:class => ('active' if params[:controller] == 'carers')}= link_to "Carers", carers_path
  %li{:class => ('active' if params[:controller] == 'leaders')}= link_to "Leaders", leaders_path
  %li{:class => ('active' if params[:controller] == 'users')}= link_to "Users", users_path
  - if @todaymeets.exists?
    - @todaymeets.each do |meet|
      %li= link_to 'Register ' + meet.meet_type.try(:name), register_meet_path(meet)
      %li= link_to 'Medical Conditions', medical_conditions_meet_path(meet)
