!!!
%html
  %head
    %title Toddletime
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}

    / [if lt IE 9]
      = javascript_include_tag 'html5shiv.min'
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .container-fluid
        - if user_signed_in?
          .pull-left.navbar-text
            Logged in as
            %strong= current_user.email
          .pull-right.navbar-text
            = link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link'
            |
            = link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link'
        - else
          .pull-right.navbar-text
            = link_to "Sign up", new_user_registration_path, class: 'navbar-link'
            |
            = link_to "Login", new_user_session_path, class: 'navbar-link'
    .container-fluid
      .row
        = render 'layouts/navbar'
      .row
        = yield
      .row
        - if notice.present?
          %p.alert.alert-success= notice
        - if alert.present?
          %p.alert.alert-danger= alert
